@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.App {
  text-align: center;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

body {
  background-image: url(onions-799948_1280.jpg);
  font-family: 'Dosis', sans-serif;
  margin:0;
  padding:0;
}



#nav-style {
  background-color: #F9F6EE;
  font-family:'Dosis', sans-serif;
}


#nav-style a {
  color: black;
  text-decoration: none;
}

#nav-style a.active {
  text-decoration: underline;
}



#add-recipe {
  background-color: #F9F6EE;
}

#inspo-meal {
  background-color: #F9F6EE;
}

#recipe-card {
  background-color: #F9F6EE;
}

.search-form {
  background-color: #F9F6EE;
}

.details {
  background-color: #F9F6EE;
}


footer {
  background-color: #F9F6EE;
  width:100%;
}


.home {
  max-height:fit-content;
  color:black;
  font-family: 'Dosis', sans-serif;
}

.welcome-message a {
  color:black;
  font-family: 'Dosis', sans-serif;
}

.welcome-message {
  background-color:#F9F6EE;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
